<h1>
<%= "#{User.find(@user.invited_by_id).full_name} #{I18n.t('invitation_mailer.invite_message.invite_join')} #{@role.name}" %>
</h1>

<p class="custom-message">
  <%= @message %><br />
  <%= I18n.t('invitation_mailer.invite_message.complete_sign_up') %>
</p>

<p>
  <%= link_to I18n.t('invitation_mailer.invite_message.create_acc'), accept_invitation_url(@user, :invitation_token => @token), class: "btn-primary" %>
</p>

<% content_for :footer do %>
  <p class="footer">
    <%= I18n.t('invitation_mailer.invite_message.complete_sign_up') %>
    <%= link_to accept_invitation_url(@user, :invitation_token => @token), accept_invitation_url(@user, :invitation_token => @token) %>
  </p>
  <p class="footer">
    <%= t("devise.mailer.invitation_instructions.ignore").html_safe %>
  </p>
<% end %>
