- content_for(:subheader) do
  .row.center.edit.collapse
    .col.pe-10
      .row
        .col
          %h2
            = link_to "javascript:history.back();", class: 'side-link', title: I18n.t('views.back') do
              = image_tag "arrow-left-white.png"
            = I18n.t('encounters.show.test_order')
= react_component('EncounterShow',
  encounter: @encounter_as_json,
  patientResults: PatientResults::Presenter.for_encounter(@encounter.patient_results),
  context: @navigation_context,
  encounterRoutes: encounter_routes(@encounter),
  rejectReasons: FeedbackMessages::Presenter.reject_reasons(@encounter.institution),
  authenticityToken: form_authenticity_token)

- if @encounter.status == 'new'
  .row
    .col
      = button_to I18n.t('encounters.show.delete_test_order'), encounter_path(@encounter), method: :delete, class: 'btn-danger', data: { confirm: I18n.t('views.are_you_sure')}
