- content_for(:subheader) do
  .row.center.edit.collapse
    .col.pe-10
      .row
        .col
          %h2
            = link_to "javascript:history.back();", class: 'side-link', title: I18n.t('views.back') do
              = image_tag "arrow-left-white.png"
            = I18n.t('encounters.show.test_order')
= react_component('EncounterShow',
  encounter: @encounter_as_json,
  patientResults: PatientResults::Presenter.for_encounter(@encounter.patient_results),
  context: @navigation_context,
  manualSampleId: @encounter.site.allows_manual_entry,
  encounterRoutes: encounter_routes(@encounter),
  rejectReasons: FeedbackMessages::Presenter.reject_reasons(@encounter.institution),
  authenticityToken: form_authenticity_token)

.row
  .col-6
    = link_to I18n.t('encounters.show.create_notification'), new_alert_path(encounter_id: @encounter.id), class: 'btn-primary'


- if @encounter.status == 'new'
  .row
    .col-6
      = button_to I18n.t('encounters.show.delete_test_order'), encounter_path(@encounter), method: :delete, class: 'btn-danger', data: { confirm: I18n.t('views.are_you_sure')}

- content_for(:print_content) do
  - if @encounter.has_sample_ids?
    .row.center
      = sample_id_barcode(@encounter.samples.first.sample_identifiers.first.lab_sample_id)
    .row.center
      = @encounter.samples.first.sample_identifiers.first.lab_sample_id
