%script
  var is_new_entry = true;

.row.center.collapse.edit
  .col.pe-10
    %h2
      = link_to patients_path, class: 'side-link', title: I18n.t('episodes.new.back') do
        = image_tag "arrow-left-white.png"
      = I18n.t('episodes.new.header')

.testflow
  .container
    .row.labelHeader.episodeDetail
      .row.col-6
        %h3
          = I18n.t('episodes.form.episode_details')
          &nbsp;(
          %span#episodeType
          )

    = render 'form'
