.row
  .col.pe-2
    %div.tooltip
      = f.label I18n.t('shared.address.address_label') 
      %div.tooltiptext_r 
        = I18n.t('shared.address.street') 
  .col
    = f.text_field :address, :class => 'input-large'

.row
  .col.pe-2
    %div.tooltip
      = f.label I18n.t('shared.address.city_label') 
      %div.tooltiptext_r 
        = I18n.t('shared.address.city')
  .col
    = f.text_field :city, :class => 'input-large'

.row
  .col.pe-2
    %div.tooltip
      = f.label I18n.t('shared.address.state_label') 
      %div.tooltiptext_r 
        = I18n.t('shared.address.state')
  .col
    = f.text_field :state, :class => 'input-large'

.row
  .col.pe-2
    %div.tooltip
      = f.label I18n.t('shared.address.post_code_label') 
      %div.tooltiptext_r 
        = I18n.t('shared.address.postal')
  .col
    = f.text_field :zip_code, :class => 'input-large'
