.row#header-fixed
  .logo
    = image_tag('cdx-logo.png')

  - if @navigation_context.try(:entity)
    = link_to('#', title: @navigation_context.name, id: 'nav-context') do
      = I18n.t('layout.header_nav.menu_at')
      = @navigation_context.name

  %nav#nav-bar
    - if current_user && !@hide_nav_bar
      %ul
        = render 'shared/header_items'

  = render 'shared/header_dropdown'
