= form_for([@patient, @comment], html: { autocomplete: 'off' }) do |f|
  = validation_errors @comment
  .row
    .col.pe-2
      = f.label :description, I18n.t('comments.form.description')
    .col
      = f.text_field :description

  .row
    .col.pe-2
      = f.label :comment, I18n.t('comments.form.comment')
    .col
      = f.text_area :comment, rows: 5, cols: 65

  .row
    .col.pe-2
      = f.label :image, I18n.t('comments.form.image')
    .col
      = f.file_field :image

  .row.button-actions
    .col
      = f.submit I18n.t('views.save'), class: 'btn-primary'
      = link_to I18n.t('views.cancel'), patient_path(@patient), class: 'btn-link'
