= form_for([@patient, @comment], html: { autocomplete: 'off' }) do |f|
  = validation_errors @comment

  .row
    .col.pe-2
      = f.label :commented_on
    .col
      = f.text_field :commented_on, value: I18n.l(@comment.commented_on || Date.today), placeholder: I18n.t('date.input_format.placeholder')

  .row
    .col.pe-2
      = f.label :description
    .col
      = f.text_field :description

  .row
    .col.pe-2
      = f.label :comment
    .col
      = f.text_area :comment, rows: 5, cols: 65

  .row
    .col.pe-2
      = f.label :image
    .col
      = f.file_field :image

  .row.button-actions
    .col
      = f.submit 'Save', class: 'btn-primary'
      = link_to 'Cancel', patient_path(@patient), class: 'btn-link'
