.testflow
  .container
    / Commented Out Spans are for use within CDX using your icon set, where applicable at least
    .row.labelHeader
      .col-6
        %h3 Comment
      .col-6
        %ul
          %li
            = link_to "Back", patient_path(@comment.patient), class: 'button new'
    .order-details
      .panel
        / Start of Row
        .row
          .col-6
            .row
              .col-12
                %label
                  = Comment.human_attribute_name(:created_at)
                = I18n.l(@comment.created_at, format: :long)
            .row
              .col-12
                %label
                  = Comment.human_attribute_name(:user_id)
                = @comment.user.full_name
            .row
              .col-12
                %label
                  = Comment.human_attribute_name(:description)
                = @comment.description
            .row
              .col-12
                = simple_format @comment.comment
          .col-6
            - if @comment.image
              .row
                .col-12
                  %label
                    = Comment.human_attribute_name(:image)
                  %br
                  = image_tag @comment.image.url
