= render "filters"

.row
  .col
    - if @alerts.empty?
      = empty_data title: I18n.t('alert_groups.index.no_alerts'), icon: 'icon-outline-alert xx-large' do |c|
        - c.body do
          %h1
            = I18n.t('alert_groups.index.no_alert_groups', entity_name: truncated_navigation_context_entity_name)
          %p
            = I18n.t('alert_groups.index.create_alert_groups')
    - else
      %section.row
        .small-12.columns.box
          %header
            = image_tag('img/device.png')
            %h3
              = I18n.t('alert_groups.index.alert_group', count: @total)
          .box-content
            = react_component "AlertGroupsIndexTable", alerts: Presenters::AlertGroups.index_table(@alerts), orderBy: @order_by
            .pagination
              = render 'shared/pagination'
