- if @device_model.published?
  - can_unpublish = can_unpublish_device_model?(@device_model)
  .row
    .col
      = I18n.t('device_models.publish.is_published')
      - if can_unpublish
        = I18n.t('device_models.publish.can_publish')
  - if can_unpublish
    .row
      .col
        %button{type: 'submit', class: 'btn-secondary', name: 'unpublish', value: "1", id: 'device-model-publish'}
          = I18n.t('device_models.publish.btn_withdraw')
-else
  - can_publish = can_publish_device_model?(@device_model)
  .row
    .col
      = I18n.t('device_models.publish.not_yet_published')
      - if can_publish
        = I18n.t('device_models.publish.can_publish_msg')
  - if can_publish
    .row
      .col
        %button{type: 'submit', class: 'btn-primary', name: 'publish', value: "1", id: 'device-model-publish'}
          = I18n.t('device_models.publish.btn_publish')
