- content_for(:subheader) do

  .filterbar.filterbartest
    .heading
      .title
        Devices



    .topfilteropt
      %input#query_button.btn-primary.filtershow(type='button' value="#{I18n.t('devices.filters.show_filters')}")
      - if @can_create
        = link_to "Add Device", new_device_path, class: 'btn-add side-link fix', title: I18n.t('devices.filters.add_device')
        

  %form.filteroptions#filters-form{action: devices_path, "data-auto-submit" => true}
    %input{type: "hidden", name: "page_size", value: @page_size}
    .row.center.custom_filters
      .col.pe-10

      .advanced

        .row
          .filter
            %label.block
              = I18n.t('devices.filters.manufacturer')
            = cdx_select name: "manufacturer", value: params["manufacturer"] do |select|
              - select.item "", I18n.t('devices.filters.show_all')
              - select.items @manufacturers, :id, :name
          .filter
            %label.block Model
            = cdx_select name: "device_model", value: params["device_model"] do |select|
              - select.item "", I18n.t('devices.filters.show_all')
              - select.items @device_models, :id, :name
