= form_for(@device, html: { autocomplete: 'off' }) do |f|
  = validation_errors @device

  .row.header
    .col.pe-2
      = f.label :institution
    .col
      .value= @navigation_context.institution.name
    = f.submit I18n.t('devices.form.save'), class: 'btn-primary'
  - if @can_delete
    = link_to I18n.t('devices.form.delete'), @device, method: :delete, data: { confirm: I18n.t('devices.form.confirm_delete') }, class: 'btn-secondary pull-right'

  .row
    .col.pe-2
      = f.label :device_model_id
    .col
      = cdx_select form: f, name: :device_model_id, class: 'input-x-large' do |select|
        - select.items(@device_models, :id, :full_name)

  - if @allow_to_pick_site
    .row
      .col.pe-2
        = f.label :site
      .col
        = cdx_select form: f, name: :site_id, class: 'input-x-large' do |select|
          - select.item "", I18n.t('devices.form.none')
          - select.items(@sites, :id, :name)
  - elsif f.object.new_record?
    = f.hidden_field :site_id
  - else # once created is better to show site name, otherwise user might have read access to many site's device, and we should avoid not showing site name in that scenario
    .row
      .col.pe-2
        = f.label :site
      .col
        .value= f.object.site.name
  .row
    .col.pe-2
      = f.label :name
    .col
      = f.text_field :name
  .row
    .col.pe-2
      = f.label :serial_number
    .col
      = f.text_field :serial_number
  .row
    .col.pe-2
      = f.label :time_zone
    .col
      = cdx_select form: f, name: :time_zone, class: 'input-x-large' do |select|
        - select.items(ActiveSupport::TimeZone.all, :name, :to_s)
  #custom_mappings
    = render "custom_mappings" if @device.device_model
     

:coffeescript
  $ ->
    selected_device_model_id = #{@device.device_model_id.to_s.to_json}
    cdx_select_on_change "device[device_model_id]", (device_model_id) ->
      # Load custom mappings
      if device_model_id != selected_device_model_id
        $("#custom_mappings").load(
          "/devices/custom_mappings",
          {
            "device_model_id": device_model_id,
            "device_id": #{@device.id.to_json}
          },
          ->
            cdx_init_components($("#custom_mappings"))
        )
        selected_device_model_id = device_model_id
