= render "filters"

.row.paginationHeader
  .col
    - if @devices.empty?
      = empty_data icon: 'icon-outline-device xx-large' do |c|
        - c.body do
          %h1
            = I18n.t('devices.index.no_devices', entity_name: truncated_navigation_context_entity_name)
          %p
            = I18n.t('devices.index.configuration_steps')
    - else
      = cdx_table title: I18n.t('devices.index.device', count: @total) do |t|
        - t.columns do
          %col{:width => "25%"}
          %col{:width => "25%"}
          %col{:width => "25%"}
          %col{:width => "25%"}
        - t.actions do
          = link_to devices_path(filters_params.merge(format: :csv)), title: I18n.t('devices.index.download_csv') do
            .icon-download.icon-gray
        - t.thead do
          %tr
            %th
              = I18n.t('devices.index.name')
            %th
              = I18n.t('devices.index.manufacturer')
            %th
              = I18n.t('devices.index.model')
            %th
              = I18n.t('devices.index.site')
        - t.tbody do
          - @devices.each do |device|
            %tr{data: (@devices_to_read.include?(device.id) ? {href: device_path(device) } : {})}
              %td= device.name
              %td= device.device_model.institution.try :name
              %td= device.device_model.full_name
              %td= device.site.try(:name)

      .pagination
        = render 'shared/pagination'
