= render 'device_card' unless request.xhr?

%section.row
  .small-12.columns
    %header 
      %h3
        Setup Details
  .col.box-content
    %h4
      = I18n.t('devices.setup.setup_header')

    = react_component "DeviceSetup", device: { id: @device.id }, device_model: @device.device_model.try { |device_model| { support_url: device_model.support_url, setup_instructions_url: device_model.setup_instructions.present? ? device_model.setup_instructions.url : "" } }

    %p
      = I18n.t('devices.setup.setup_text')


- if @device.device_model.supports_activation?
  .row.box-content
    .col.pe-2
      = I18n.t('devices.setup.activation_token')
    #activation-token.col
      = render 'activation_token'
- else
  .row.box-content
    .col.pe-2
      = I18n.t('devices.setup.device_id')
    .col
      .uuid= @device.uuid
      %p
        = barcode @device.uuid

  .row
    .col.pe-2
      = I18n.t('devices.setup.secret_key')
    #secret-key.col
      = render 'secret_key'
