= render "filters"

.row.paginationHeader
  .col
    - if @incidents.empty?
      = empty_data title: I18n.t('incidents.index.no_incidents'), icon: 'icon-outline-alert xx-large' do |c|
        - c.body do
          %h1
            = I18n.t('incidents.index.zero_incidents')
          %p
            = I18n.t('incidents.index.create_alert_groups')
    - else
      %section.row
        .small-12.columns.box
          %header
            = image_tag('img/test-tube.png')
            %h3
              = I18n.t('incidents.index.incident', count: @total)
          .box-content
            = react_component "IncidentsIndexTable", incidents: Presenters::Incidents.index_table(@incidents), orderBy: @order_by
            .pagination
              = render 'shared/pagination'
