= form_for([@encounter, @dst_lpa_result], url: encounter_dst_lpa_result_path(@encounter, @dst_lpa_result), html: { autocomplete: 'off' }) do |f|
  = validation_errors @dst_lpa_result
  .row
    .col.pe-2
      = f.label :sample_collected_on
    .col
      = f.date_field :sample_collected_on
  .row
    .col.pe-2
      = f.label :media_used
    .col
      = f.collection_select :media_used, DstLpaResult.media_options, :first, :last
  .row
    .col.pe-2
      = f.label :method_used, I18n.t('dst_lpa_results.form.lbl_method_used')
    .col
      = f.collection_select :method_used, DstLpaResult.method_options, :first, :last
  .row
    .col.pe-2
      = f.label :sample_identifier_id
    .col
      = f.select :sample_identifier_id, SampleIdentifiers::Presenter.available_samples(@encounter)
  .row
    .col.pe-2
      = f.label :results_h
    .col
      = f.collection_select :results_h, DstLpaResult.dst_lpa_options, :first, :last
  .row
    .col.pe-2
      = f.label :results_r
    .col
      = f.collection_select :results_r, DstLpaResult.dst_lpa_options, :first, :last
  .row
    .col.pe-2
      = f.label :results_e
    .col
      = f.collection_select :results_e, DstLpaResult.dst_lpa_options, :first, :last
  .row
    .col.pe-2
      = f.label :results_s
    .col
      = f.collection_select :results_s, DstLpaResult.dst_lpa_options, :first, :last
  .row
    .col.pe-2
      = f.label :results_amk
    .col
      = f.collection_select :results_amk, DstLpaResult.dst_lpa_options, :first, :last
  .row
    .col.pe-2
      = f.label :results_km
    .col
      = f.collection_select :results_km, DstLpaResult.dst_lpa_options, :first, :last
  .row
    .col.pe-2
      = f.label :results_cm
    .col
      = f.collection_select :results_cm, DstLpaResult.dst_lpa_options, :first, :last
  .row
    .col.pe-2
      = f.label :results_fq
    .col
      = f.collection_select :results_fq, DstLpaResult.dst_lpa_options, :first, :last
  .row
    .col.pe-2
      = f.label :results_other1
    .col
      = f.text_field :results_other1
  .row
    .col.pe-2
      = f.label :results_other2
    .col
      = f.text_field :results_other2
  .row
    .col.pe-2
      = f.label :results_other3
    .col
      = f.text_field :results_other3
  .row
    .col.pe-2
      = f.label :results_other4
    .col
      = f.text_field :results_other4
  .row
    .col.pe-2
      = f.label :examined_by
    .col
      = f.text_field :examined_by

  .row
    .col.pe-2
      = f.label :result_on
    .col
      = f.date_field :result_on
  .row
    .col.pe-2
      = f.label :comment
    .col
      = f.text_area :comment, rows: 4, cols: 70

  .row.button-actions
    .col
      = f.submit I18n.t('views.save'), class: 'btn-primary'
      = link_to I18n.t('views.cancel'), encounter_path(@encounter), class: 'btn-link'
