#show-dst-lpa-result.testflow
  .container
    .row.labelHeader
      .col-6
        %h3
          = I18n.t('dst_lpa_results.show.header', patient_name: patient_display_name(@encounter.patient.name))
      .col-6
        %ul
          %li
            = link_to("javascript:history.back();", class: 'button new') do
              = I18n.t('views.back')
    .order-details
      .panel
        .row
          .col-4
            .row
              .col-12
                %label
                  = DstLpaResult.human_attribute_name(:result_status)
                = I18n.t("select.patient_result.status_options.#{@dst_lpa_result.result_status}")
            - if @dst_lpa_result.any_feedback?
              .row
                .col-6
                  %label
                    = DstLpaResult.human_attribute_name(:feedback_message_id)
                .col-6
                  = FeedbackMessages::Finder.find_text_from_patient_result(@dst_lpa_result)
            .row
              .col-12
                %label
                  = DstLpaResult.human_attribute_name(:sample_collected_at)
                = Extras::Dates::Format.datetime_with_time_zone(@dst_lpa_result.sample_collected_at, :full_time)
            .row
              .col-12
                %label
                  = DstLpaResult.human_attribute_name(:result_at)
                = Extras::Dates::Format.datetime_with_time_zone(@dst_lpa_result.result_at, :full_time)
            .row
              .col-12
                %label
                  = DstLpaResult.human_attribute_name(:media_used)
                = Extras::Select.find(DstLpaResult.media_options, @dst_lpa_result.method_used)
            .row
              .col-12
                %label
                  = DstLpaResult.human_attribute_name(I18n.t('dst_lpa_results.form.lbl_method_used'))
                = Extras::Select.find(DstLpaResult.method_options, @dst_lpa_result.media_used)
            .row
              .col-12
                %label
                  = DstLpaResult.human_attribute_name(:sample_identifier_id)
                = SampleIdentifiers::Finder.result_sample_id_with_deleted(@dst_lpa_result)
            .row
              .col-12
                %label
                  = DstLpaResult.human_attribute_name(:examined_by)
                = @dst_lpa_result.examined_by
          .col-4
            .row
              .col-12
                %label
                  = DstLpaResult.human_attribute_name(:results_h)
                = Extras::Select.find(DstLpaResult.dst_lpa_options, @dst_lpa_result.results_h)
              .col-12
                %label
                  = DstLpaResult.human_attribute_name(:results_r)
                = Extras::Select.find(DstLpaResult.dst_lpa_options, @dst_lpa_result.results_r)
            .row
              .col-12
                %label
                  = DstLpaResult.human_attribute_name(:results_e)
                = Extras::Select.find(DstLpaResult.dst_lpa_options, @dst_lpa_result.results_e)
              .col-12
                %label
                  = DstLpaResult.human_attribute_name(:results_s)
                = Extras::Select.find(DstLpaResult.dst_lpa_options, @dst_lpa_result.results_s)
            .row
              .col-12
                %label
                  = DstLpaResult.human_attribute_name(:results_amk)
                = Extras::Select.find(DstLpaResult.dst_lpa_options, @dst_lpa_result.results_amk)
              .col-12
                %label
                  = DstLpaResult.human_attribute_name(:results_km)
                = Extras::Select.find(DstLpaResult.dst_lpa_options, @dst_lpa_result.results_km)
            .row
              .col-12
                %label
                  = DstLpaResult.human_attribute_name(:results_cm)
                = Extras::Select.find(DstLpaResult.dst_lpa_options, @dst_lpa_result.results_cm)
              .col-12
                %label
                  = DstLpaResult.human_attribute_name(:results_fq)
                = Extras::Select.find(DstLpaResult.dst_lpa_options, @dst_lpa_result.results_fq)
              .col-12
                %label
                  = DstLpaResult.human_attribute_name(:comment)
                = I18n.t("select.patient_result.status_options.#{@dst_lpa_result.comment}")


          .col-4
            .row
              .col-12
                %label
                  = DstLpaResult.human_attribute_name(:results_other1)
                = @dst_lpa_result.results_other1
              .col-12
                %label
                  = DstLpaResult.human_attribute_name(:results_other2)
                = @dst_lpa_result.results_other2
              .col-12
                %label
                  = DstLpaResult.human_attribute_name(:results_other4)
                = @dst_lpa_result.results_other4
              .col-12
                %label
                  = DstLpaResult.human_attribute_name(:results_other4)
                = @dst_lpa_result.results_other4
