.testflow
  = bettertabs :profile_tabs, :selected_tab => :devices do |tab|
    = tab.link :devices do
      = render :partial => 'device_results' #, :locals => { :user => @user }
    = tab.link :microscopy do
      = render :partial => 'microscopy_results' #, :locals => { :user => @user }
    = tab.link :xpert do
      = render :partial => 'xpert_results' #, :locals => { :user => @user }
    = tab.link :culture do
      = render :partial => 'culture_results' #, :locals => { :user => @user }
    = tab.link :dst_lpa do
      = render :partial => 'dst_lpa_results' #, :locals => { :user => @user }

:javascript
  jQuery('.bettertabs').bettertabs();
