= render "filters"

.row.paginationHeader
  .col
    - if @tests.empty?
      = empty_data icon: 'icon-outline-test xx-large' do |c|
        - c.body do
          %h1
            = I18n.t('test_results.index.header', test_result: I18n.t('test_results.index.test', count: 0))
          %p
            = I18n.t('test_results.index.setup_devices')
    - else
      = react_component "TestResultsIndexTable", tests: @json, title: I18n.t('test_results.index.test', count: @total),
          orderBy: @order_by, showSites: @show_sites, showDevices: @show_devices,
          downloadCsvPath: test_results_path(@filter.merge(format: :csv).merge(display_as: @display_as))

      .pagination
        = render 'shared/pagination'
