<h2><%= I18n.t('devise.mailer.reset_password_instructions.hello_txt') %> <%= @resource.email %>!</h2>

<p><%= I18n.t('devise.mailer.reset_password_instructions.msg_request_link') %></p>

<div class="button-actions">
  <%= link_to I18n.t('devise.mailer.reset_password_instructions.lnk_change_password'), edit_password_url(@resource, reset_password_token: @token), class: "btn btn-primary" %>
</p>

<p><%= I18n.t('devise.mailer.reset_password_instructions.ignore_email') %></p>
<p><%= I18n.t('devise.mailer.reset_password_instructions.msg_change_password') %></p>
