- content_for(:subheader) do
  .row.center.collapse.edit
    .col.pe-10
      %h2
        = link_to patient_path(@patient), class: 'side-link', title: I18n.t('views.back') do
          = image_tag "arrow-left-white.png"
        = @patient.name

.row
  .col.pe-12
    %section.editPatientContainer
      %header
        %h3
          = I18n.t('patients.edit.patient_details')
      = render 'form'
