- content_for(:subheader) do
  .row.center.edit.collapse
    .col.pe-10
      %h2
        = link_to patients_path, class: 'side-link', title: I18n.t('views.back') do
          = image_tag "arrow-left-white.png"
        = patient_display_name(@patient.name)
.testflow
  .container
    = render partial: 'patient_summary', locals: { patient: @patient }

    = render partial: 'patient_episode_summary', locals: { total_episodes: @patient.episodes.count, patient: @patient }

    = render partial: 'patient_history', locals: { patient: @patient, can_add_test_orders: @patient.episodes.count > 0 }

:javascript
  Mousetrap.bind('alt+t', function(e) {
    Turbolinks.visit('#{new_encounter_path(mode: 'fresh_tests', patient_id: @patient.id)}');
    Mousetrap.unbind('alt+t');
  });
