#show-culture-result.testflow
  .container
    .row.labelHeader
      .col-6
        %h3
          = I18n.t('culture_results.show.header', patient_name: patient_display_name(@culture_result.patient.name))
      .col-6
        %ul
          %li
            = link_to I18n.t('views.back'), encounter_path(@requested_test.encounter, :test_order_page_mode => @return_page_mode), class: 'button new'
    .order-details
      .panel
        .row
          .col
            .row
              .col-12
                %label
                  = CultureResult.human_attribute_name(:sample_collected_on)
                = I18n.l(@culture_result.sample_collected_on, format: :full_date)
            .row
              .col-12
                %label
                  = CultureResult.human_attribute_name(:media_used)
                = Extras::Select.find(CultureResult.media_options, @culture_result.media_used)
            .row
              .col-12
                %label
                  = CultureResult.human_attribute_name(:serial_number)
                = @culture_result.serial_number
            .row
              .col-12
                %label
                  = MicroscopyResult.human_attribute_name(:test_result)
                = Extras::Select.find(CultureResult.test_result_options, @culture_result.test_result)
            .row
              .col-12
                %label
                  = CultureResult.human_attribute_name(:examined_by)
                = @culture_result.examined_by
            .row
              .col-12
                %label
                  = CultureResult.human_attribute_name(:result_on)
                = I18n.l(@culture_result.result_on, format: :full_date)
