.row
  .col.pe-2
    = f.label :address
  .col
    = f.text_field :address, :class => 'input-large'

.row
  .col.pe-2
    = f.label :city
  .col
    = f.text_field :city, :class => 'input-large'

.row
  .col.pe-2
    = f.label :state
  .col
    = f.text_field :state, :class => 'input-large'

.row
  .col.pe-2
    = f.label :post_code
  .col
    = f.text_field :zip_code, :class => 'input-large'
