- content_for(:subheader) do
  .row.center.filters
    .col.pe-10
      .row
        .col
          %h1
            Alert messages

.row.paginationHeader
  .col
    - if @alert_messages.empty?
      = empty_data title: I18n.t('alert_messages.index.no_alerts'), icon: 'icon-outline-alert xx-large' do |c|
        - c.body do
          %h1
            = I18n.t('alert_messages.index.no_messages', entity_name: truncated_navigation_context_entity_name)
          %p
            = I18n.t('alert_messages.index.create_alerts')
    - else
      %section.row
        .small-12.columns.box
          %header
            = image_tag('img/device.png')
            %h3
              = I18n.t('alert_messages.index.alert_message', count: @total)
          .box-content
            = react_component "AlertMessagesIndexTable", alertMessages: Presenters::AlertMessages.index_table(@alert_messages), orderBy: @order_by
            .pagination
              = render 'shared/pagination'
