= form_for([@patient, @episode], html: { class: 'zebra' } ) do |f|
  = f.hidden_field :closed, value: @episode.closed

  %script
    $(document).ready( function(){
    $('.panel').hide();

    $('.panel#episodetype_tb').show();  // default
    $('span#episodeType').text('TB');

    $('#epitabs li').on('click', function() {
    var type = $(this).attr('id').split('_')[1];  // get bit after the 'tab_' in the id
    console.log('Changing Tab to: '+type);
    $('#epitabs li').removeClass('active');
    $(this).addClass('active');
    $('.panel').hide();
    $('.panel#episodetype_'+type).show();
    $('span#episodeType').text(type);
    });

    });

  .testflow
    %ul.tab#epitabs
      %li#tab_tb
        = link_to I18n.t('episodes.episode_type.tb'),'#'
      %li#tab_hiv
        = link_to I18n.t('episodes.episode_type.hiv'),'#'
      %li#tab_ebola
        = link_to I18n.t('episodes.episode_type.ebola'),'#'

  .panel#episodetype_ebola
    .row
      .col-6
        %b
          = I18n.t('episodes.form.episode_type_not_available')

  .panel#episodetype_hiv
    .row
      .col-6
        %b
          = I18n.t('episodes.form.episode_type_not_available')

  .panel#episodetype_tb
    .row
      .col-6
        = f.label :diagnosis
      .col-6
        = f.collection_select :diagnosis, Episode.diagnosis_options, :id, :name, include_blank: I18n.t('select.default')
    .row
      .col-6
        = f.label :anatomical_site_diagnosis
      .col-6
        = collection_radio_buttons(:anatomical_site_diagnosis, '', Episode.anatomical_diagnosis_options, :id, :name)
    .row
      .col-6
        = f.label I18n.t('patients.form.history')
      .col-6
        = f.collection_select :initial_history, Episode.initial_history_options, :id, :name, include_blank: I18n.t('select.default')
        = f.collection_select :previous_history, Episode.previous_history_options, :id, :name, include_blank: I18n.t('select.default')
    .row
      .col-6
        = f.label :hiv_status
      .col-6
        = f.collection_select :hiv_status, Episode.hiv_status_options, :id, :name, include_blank: I18n.t('select.default')
    .row
      .col-6
        = f.label :drug_resistance
      .col-6
        = f.collection_select :drug_resistance, Episode.drug_resistance_options, :id, :name, include_blank: I18n.t('select.default')
    .zebra
      = react_component 'EpisodeSelectOutcome', outcomeOptions: outcome_options, selected: @episode.outcome
    .row.button-actions
      .col
        = f.submit
