= form_for([@patient, @episode], html: { class: 'zebra' } ) do |f|
  = f.hidden_field :closed, value: @episode.closed
  .panel
    .row
      .col-6
        = f.label :diagnosis
      .col-6
        = f.collection_select :diagnosis, Episode.diagnosis_options, :id, :name, include_blank: I18n.t('select.default')
    .row
      .col-6
        = f.label :anatomical_site_diagnosis
      .col-6
        = collection_radio_buttons(:anatomical_site_diagnosis, '', Episode.anatomical_diagnosis_options, :id, :name)
    .row
      .col-6
        = f.label I18n.t('patients.form.history')
      .col-6
        = f.collection_select :initial_history, Episode.initial_history_options, :id, :name, include_blank: I18n.t('select.default')
        = f.collection_select :previous_history, Episode.previous_history_options, :id, :name, include_blank: I18n.t('select.default')
    .row
      .col-6
        = f.label :hiv_status
      .col-6
        = f.collection_select :hiv_status, Episode.hiv_status_options, :id, :name, include_blank: I18n.t('select.default')
    .row
      .col-6
        = f.label :drug_resistance
      .col-6
        = f.collection_select :drug_resistance, Episode.drug_resistance_options, :id, :name, include_blank: I18n.t('select.default')
    .zebra  
      = react_component 'EpisodeSelectOutcome', outcomeOptions: outcome_options, selected: @episode.outcome
    .row.button-actions
      .col
        = f.submit
