.row.center.collapse.edit
  .col.pe-10
    %h2
      = link_to patients_path, class: 'side-link', title: 'Back' do
        = image_tag "arrow-left-white.png"
      = form_title(@episode, 'Episode')

.testflow
  .container
    .row.labelHeader.episodeDetail
      .row.col-6
        %h3
          = I18n.t('episodes.form.episode_details')
          &nbsp;(
          %span#episodeType
          )
      .row.col-6.right
        %ul
          %li
            = link_to I18n.t('views.save'), '#', class: 'button save', title: I18n.t('views.save')

    = render 'form'