.row.center.collapse.edit
  .col.pe-10
    %h2
      = link_to patients_path, class: 'side-link', title: 'Back' do
        = image_tag "arrow-left-white.png"
      = form_title(@episode, 'Episode (TB)')

.testflow
  .container
    .row.labelHeader.episodeDetail
      .row.col-6
        %h3
          Episode Details
      .row.col-6.right
        %ul
          %li
            = link_to I18n.t('views.save'), '#', class: 'button save', title: I18n.t('views.save')
          %li
            = link_to I18n.t('views.cancel'), patient_path(@patient), class: 'button cancel', title: I18n.t('views.cancel')

    = render 'form'