- content_for(:subheader) do
  .notification-subheader.notification-subheader--filters
    .row.center.add-new.collapse
      .col.pe-10
        %h2
          = link_to [:alerts], class: 'side-link', title: I18n.t('views.back') do
            = image_tag "arrow-left-white.png"
          = I18n.t('notification_notices.index.title')

.row.paginationHeader
  .small-12.columns.box
    - if @notification_notices.empty?
      = empty_data title: I18n.t('notification_notices.index.no_alerts'), icon: 'icon-outline-alert xx-large' do |c|
        - c.body do
          %h1
            = I18n.t('notification_notices.index.no_messages', entity_name: truncated_navigation_context_entity_name)
          %p
            = I18n.t('notification_notices.index.create_alerts')
    - else
      %section.row
        .small-12.columns.box
          %header
            = image_tag('img/device.png')
            %h3
              = I18n.t('notification_notices.index.alert_message', count: @total)
          .box-content
            = react_component "NotificationNoticesIndexTable", notificationNotices: NotificationNotices::Presenter.index_table(@notification_notices), orderBy: @order_by
            .pagination
              = render 'shared/pagination'
