.row
  .col
    %table.table
      %tr
        %th.tableheader
          = I18n.t('device_logs.index.logs_header', device_name: @device.name)
      %tr
        %th
          = I18n.t('device_logs.index.date')
        %th
          = I18n.t('device_logs.index.message')
        %th
      - @device_logs.each do |log|
        %tr
          %td
            = @localization_helper.format_datetime_time_zone(log.created_at, @device.time_zone)
          %td
            = truncate log.message, length: 100
          %td
            = link_to I18n.t('device_logs.index.download'), device_device_log_path(@device, log)
