= form_for(@patient) do |f|
  - unless params[:next_url].blank?
    = hidden_field_tag :next_url, params[:next_url]

  = validation_errors @patient

  .row.header
    .col.pe-2
      = f.label :institution, I18n.t('patients.form.institution_label')
    .col
      .value= f.object.institution

  = react_component 'PatientInputName', fieldValue: @patient.name, patientsSearchUrl: patient_search_index_path

  .row.nickname
    .col.pe-2
      = f.label :nickname, I18n.t('patients.form.nickname_label')
    .col
      = f.text_field :nickname, :class => 'input-large'

  .row
    .col.pe-2
      = f.label :entity_id, I18n.t('patients.form.entity_id_label')
    .col
      = f.text_field :entity_id, :class => 'input-large', readonly: !@patient.new_record?

  .row
    .col.pe-2
      = f.label :gender, I18n.t('patients.form.gender_label')
    .col
      = f.collection_select :gender, Patient.gender_options, :first, :last

  .row
    .col.pe-2
      = f.label :birth_date_on, I18n.t('patients.form.birth_date_on_label')
    .col
      = f.date_select :birth_date_on, order: [:day, :month, :year], prompt: { day: I18n.t('patients.form.select_day'), month: I18n.t('patients.form.select_month'), year: I18n.t('patients.form.select_year') }, start_year: Date.today.year, end_year: Date.today.year - 100
  .row
    .col.pe-2
      = f.label I18n.t('patients.form.estimate_age')
    .col
      = f.text_field 'age', :class=>'input-large'
      %script
        $('#patient_age').on('blur', function(){
        var cyear = new Date().getFullYear();
        var tyear = cyear - $(this).val();
        console.log('Setting Year to: '+tyear);
        $('#patient_birth_date_on_1i').val(tyear);
        $('#patient_birth_date_on_2i').val(new Date().getMonth());
        $('#patient_birth_date_on_3i').val(new Date().getDate());
        });
  
  - count = 0
  = f.fields_for :addresses do |addresses_form|
    - count = count + 1
    %div{:class => "add#{count}"}
      = render partial: 'addresses/form', locals: { address_form: addresses_form }

  .row
    .col.pe-2
      = f.label :email, I18n.t('patients.form.email_label')
    .col
      = f.text_field :email, :class => 'input-large'

  .row
    .col.pe-2
      = f.label :phone, I18n.t('patients.form.phone_label')
    .col
      = f.text_field :phone, :class => 'input-large'

  .row.button-actions
    .col
      = f.submit I18n.t('views.save'), class: 'btn-primary save'
      - cancel_path = @patient.persisted? ? patient_path(@patient) : patients_path
      = link_to I18n.t('views.cancel'), cancel_path, class: 'btn-link'

      - if @can_delete
        = confirm_deletion_button @patient, 'patient'
