.row.labelHeader
  .col-6
    %h3
      = I18n.t('patients.show.patient_summary')
  .col-6
    %ul
.panel.patient-details
  .row
    .col-2.summary.patient
      .stat
        .empty-icon.centered
          %span
            %i.fa.fa-user
    .col-10
      - if has_access?(@patient, Policy::Actions::UPDATE_PATIENT)
        %ul.button-container
          %li
            = link_to(I18n.t('patients.show.edit_patient'), edit_patient_path(patient), class: 'button edit')
      %ul
        %li
          %label
            = Patient.human_attribute_name(:name)
          = patient_display_name(patient.name)
        %li
          %label
            = Patient.human_attribute_name(:entity_id)
          = patient.entity_id
        %li
          %label
            = Patient.human_attribute_name(:gender)
          = patient.gender
      %ul
        %li
          %label
            = Patient.human_attribute_name(:dob)
          = patient_birth_date(patient.dob)
        %li
          %label
            = Patient.human_attribute_name(:phone)
          = patient.phone
        %li
          %label
            = Patient.human_attribute_name(:email)
          = patient.email

      %ul
        %li
          %label
            = Patient.human_attribute_name(:address)
          = patient.address
        %li
          %label
            = Patient.human_attribute_name(:created_at)
          = I18n.l(patient.created_at, format: :long)
