- if episodes.empty?
  = empty_data icon: 'icon-outline-test xx-large' do |c|
    - c.body do
      %h1 No medical history
      %p Create a #{link_to 'new episode', new_patient_episode_path(patient), class: 'button add'} in order to start the medical history.
      %p You can not create test orders until a #{link_to 'new episode', new_patient_episode_path(patient), class: 'button add'} has been added.

- else
  .row.labelHeader
    .col-6
      %h3 Episode Summary
    .col-6
      %ul
        %li
          = link_to 'Add Episode', new_patient_episode_path(patient), class: 'button add'
  .panel.patient-details
    - episodes.each do |episode|
      .row
        .col-2.summary.patient
          .stat
            .empty-icon.centered
              %span
                %i.fa.fa-navicon
        .col-10
          %ul
            %li
              = link_to 'Edit Episode', edit_patient_episode_path(patient, episode), class: 'button edit'
          %ul
            %li
              = link_to diagnosis_name(episode.diagnosis), edit_patient_episode_path(patient, episode)
            %li
              = hiv_status_name(episode.hiv_status)
            %li
              = "#{history_options_name(episode.initial_history)} - #{previous_history_options_name(episode.previous_history)}"
          %ul
            %li
              = drug_resistance_name(episode.drug_resistance)
            %li
              = treatment_outcome_name(episode.outcome)
