- content_for(:subheader) do
  .row.center.edit
    .col.pe-10
      .row
        .col
          %h2
            = link_to patients_path, class: 'side-link', title: 'Back' do
              = image_tag "arrow-left.png"
            = @patient.name
.testflow
  .container
    = render partial: 'patient_summary', locals: { patient: @patient }

    = render partial: 'patient_episode_summary', locals: { encounters: @encounters }

    = render partial: 'patient_history', locals: { patient: @patient, can_add_test_orders: !@encounters.empty? }
