.row
  .col
    - unless filters.empty?
      = link_to "+", new_subscriber_path, class: 'btn-add side-link ontop fix', title: I18n.t('subscribers.index.add_subscriber_title')
    - if subscribers.empty?
      = empty_data title: I18n.t('subscribers.index.subscribers_title') do |c|
        - c.body do
          %h1 
            = I18n.t('subscribers.index.no_subscriber')
    - else
      = cdx_table title: I18n.t('subscribers.index.subscribers_title') do |t|
        - t.columns do
          %col{:width => "100%"}
        - t.thead do
          %tr
            %th 
              = I18n.t('subscribers.index.name')
        - t.tbody do
          - if filters.empty?
            %tr
              %td
                You first need to create a filter to create a subscriber.
                Go to #{link_to("Tests", test_results_path)}, apply a filter and create one.
          - else
            - subscribers.each do |subscriber|
              %tr
                %td= link_to subscriber.name, edit_subscriber_path(subscriber)
