= render "filters"
.row.paginationHeader
  .col
    - if @sites.empty?
      = empty_data icon: 'icon-outline-site xx-large' do |c|
        - c.body do
          %h1
            = I18n.t('sites.index.no_dependencies', entity_name: navigation_context_entity_name)
          %p
            = I18n.t('sites.index.create_sites')
    - else
      %section.row
        .small-12.columns.box
          %header
            = image_tag('img/user.png')
            %h3
              = I18n.t('sites.index.site', count: @total)
            %span.table-actions
              = link_to sites_path(filters_params.merge(format: :csv)), title: I18n.t('devices.index.download_csv') do
                %span.icon-download.icon-gray
          .box-content
            = react_component "SitesIndexTable", sites: Presenters::Sites.index_table(@sites), orderBy: @order_by
            .pagination
              = render 'shared/pagination'
