= render "filters"

.row
  .col
    - if @messages.empty?
      = empty_data icon: 'icon-outline-instructions xx-large' do |c|
        - c.body do
          %h1
            = I18n.t('device_messages.index.no_logs')
          %p
            = I18n.t('device_messages.index.connect_device')
    - else
      = render partial: 'messages_table', locals: { messages: @messages, total: @total }
