.row
  .col.pe-2
    %div.tooltip
      = address_form.label :address
      %div.tooltiptext_r
        = I18n.t('addresses.form.address_tooltip')

  .col
    = address_form.text_field :address, :class => 'input-large'

  .col
    %div.tooltip
      = address_form.label :city
      %div.tooltiptext_r
        = I18n.t('addresses.form.city_tooltip')

  .col
    = address_form.text_field :city, :class => 'input-large'

  .col
    %div.tooltip
      = address_form.label :state
      %div.tooltiptext_r
        = I18n.t('addresses.form.state_tooltip')

  .col
    = address_form.text_field :state, :class => 'input-large'

  .col
    %div.tooltip
      = address_form.label :zip_code
      %div.tooltiptext_r
        = I18n.t('addresses.form.zip_code_tooltip')

  .col
    = address_form.text_field :zip_code, :class => 'input-large'
