= form_for @role do |f|
  - if @role.errors.any?
    #error_explanation
      %p= "#{pluralize(@role.errors.count, "error")} prohibited this role from being saved:"
      %ul
        - @role.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col.pe-2
      %div.tooltip
        = f.label :name
        %div.tooltiptext_r 
          Role Name
    .col
      = f.text_field :name

  - if @accessible_institutions != 1
    .row
      .col.pe-2
        %div.tooltip
          = f.label :institution_id
          %div.tooltiptext_r 
            Which Institution this Role applies to.
      .col
        .value= @institution

  - if @role.new_record?
    .row
      .col.pe-2
        %div.tooltip
          = f.label :site_id
          %div.tooltiptext_r 
            Which Site within the Institution this Role Applies to.
      .col
        = cdx_select form: f, name: :site_id, class: 'input-x-large' do |select|
          - select.item "", "Choose one"
          - select.items @sites, :id, :name
  - elsif @role.site_id
    .row
      .col.pe-2
        = f.label :site_id
      .col
        .value= @role.site.try(:name)
  %br
  %br
  %hr
  %br
  .row
    .col
      %div.tooltip
        %h1 Policies
        %div.tooltiptext_r 
          Policies grant users permisions over specific resources
      %p.text-small.muted
        %i Policies grant users permisions over specific resources
  = react_component 'PolicyDefinition', definition: @role.definition, actions: actions_per_resource_type, context: params['context'], resources: @policy_definition_resources, resourceTypes: resource_types
  .row.button-actions
    .col
      = f.submit 'Save', :class => 'btn-primary'
      = link_to 'Cancel', roles_path, class: 'btn-link'
      - if @can_delete
        - unless @role.new_record?
          = confirm_deletion_button @role, 'role'
