= render "filters"

.row.paginationHeader
  .col
    %section.row
      .small-12.columns.box
        %header
          = image_tag('img/user.png')
          %h3
            = I18n.t('roles.index.role', count: @total)
        .box-content
          = react_component "RolesIndexTable", roles: Presenters::Roles.index_table(@roles, current_user, @navigation_context), orderBy: @order_by
          .pagination
            = render 'shared/pagination'
