= render "filters"

.row.paginationHeader
  .col
    - if @total == 0
      = empty_data icon: 'icon-outline-test xx-large' do |c|
        - c.body do
          %h1
            = I18n.t('test_results.index.header')
          %p
            = I18n.t('test_results.index.setup_devices')
    - else
      %section.row
        %header
          = image_tag('img/test-tube.png')
          %h3
            = I18n.t('test_results.index.test_result', count: @total)
          %span.table-actions
            = link_to test_results_path(params.merge(format: :csv)), title: I18n.t('test_results.index.test', count: @total) do
              %span.fa.fa-download
        .box-content
          = react_component "TestResultsList", testResults: @test_results, orderBy: params['order_by']
          .pagination
            = render 'shared/pagination'
