= render "filters"

.row.paginationHeader
  .col
    - if @total == 0
      = empty_data icon: 'icon-outline-test xx-large' do |c|
        - c.body do
          %h1
            = I18n.t('test_results.index.header')
          %p
            = I18n.t('test_results.index.setup_devices')
    - else
      %section.row
        %header
          = image_tag('img/test-tube.png')
          %h3
            = I18n.t('test_results.index.test_result', count: @total)
          %span.table-actions
            = link_to test_results_path(@device_results.filter.merge(format: :csv)), title: I18n.t('test_results.index.test', count: @total) do
              %span.icon-download.icon-gray
        .box-content
          = react_component "TestResultsList", testResults: @device_results.json, orderBy: @device_results.order_by, showSites: @show_sites, showDevices: @show_devices
          .pagination
            = render 'shared/pagination'
