.testflow
  = bettertabs :test_results_tabs, :selected_tab => @selected_tab do |tab|
    = tab.link :devices do
      = render :partial => 'device_results'
    = tab.link :microscopy do
      = render :partial => 'microscopy_results'
    = tab.link :xpert do
      = render :partial => 'xpert_results'
    = tab.link :culture do
      = render :partial => 'culture_results'
    = tab.link :dst_lpa do
      = render :partial => 'dst_lpa_results'

:javascript
  $('.bettertabs').bettertabs();
