- content_for(:subheader) do
  .row.center.add-new.collapse
    .col.pe-10
      %h2
        = link_to alert_groups_path, class: 'side-link', title: I18n.t('views.back') do
          = image_tag "arrow-left-white.png"
        = I18n.t('alert_groups.new.new_alert')
  
  .testflow
    .container
      .row.labelHeader
        .col-6
          %h3 
            = I18n.t('alert_groups.new.title')
        .col-6
      .panel.box-content
        = react_component('AlertCategorySelect', authenticity_token: form_authenticity_token, edit: false, alert_info: alert_info, category_types:Alert.category_types, url:"/alert_groups.json", sites:@sites, devices:@devices, anomalie_types:Alert.anomalie_types, aggregation_types:Alert.aggregation_types,aggregation_frequencies:Alert.aggregation_frequencies,channel_types:Alert.channel_types,roles:@roles, users: @users, conditions:@conditions, condition_results:@condition_results, condition_result_statuses:@condition_result_statuses, can_update: @can_update)

