#show-xpert-result.testflow
  .container
    .row.labelHeader
      .col-6
        %h3
          = I18n.t('xpert_results.show.header', patient_name: patient_display_name(@encounter.patient.name))
      .col-6
        %ul
          %li
            = link_to("javascript:history.back();", class: 'button new') do
              = I18n.t('views.back')
    .order-details
      .panel
        .row
          .col-6
            %label
              = XpertResult.human_attribute_name(:result_status)
          .col-6
            = I18n.t("select.patient_result.status_options.#{@xpert_result.result_status}")
        .row
          .col-6
            %label
              = XpertResult.human_attribute_name(:sample_collected_on)
          .col-6
            = I18n.l(@xpert_result.sample_collected_on, format: :full_date)
        .row
          .col-6
            %label
              = XpertResult.human_attribute_name(:sample_identifier_id)
          .col-6
            = @xpert_result.sample_identifier.lab_sample_id
        .row
          .col-6
            %label
              = XpertResult.human_attribute_name(:tuberculosis)
          .col-6
            = Extras::Select.find(XpertResult.tuberculosis_options, @xpert_result.tuberculosis)
        - if @xpert_result.tuberculosis == 'detected'
          .row
            .col-6
              %label
                = XpertResult.human_attribute_name(:trace)
            .col-6
              = Extras::Select.find(XpertResult.trace_options, @xpert_result.trace)
        .row
          .col-6
            %label
              = XpertResult.human_attribute_name(:rifampicin)
          .col-6
            = Extras::Select.find(XpertResult.rifampicin_options, @xpert_result.rifampicin)
        .row
          .col-6
            %label
              = XpertResult.human_attribute_name(:examined_by)
          .col-6
            = @xpert_result.examined_by
        .row
          .col-6
            %label
              = XpertResult.human_attribute_name(:result_on)
          .col-6
            = I18n.l(@xpert_result.result_on, format: :full_date)
        .row
          .col-6
            %label
              = XpertResult.human_attribute_name(:comment)
          .col-6
            = simple_format(@xpert_result.comment)
