= render "filters"

.row.paginationHeader
  .col
    - if @devices.empty?
      = empty_data icon: 'icon-outline-device xx-large' do |c|
        - c.body do
          %h1
            = I18n.t('devices.index.no_devices', entity_name: truncated_navigation_context_entity_name)
          %p
            = I18n.t('devices.index.configuration_steps')
    - else
      %section.row
        .small-12.columns.box
          %header
            = image_tag('img/device.png')
            %h3
              = I18n.t('devices.index.devices')
            %span.table-actions
              = link_to devices_path(filters_params.merge(format: :csv)), title: I18n.t('devices.index.download_csv') do
                %span.fa.fa-download
          .box-content
            = react_component "DevicesIndexTable", devices: Devices::Presenter.index_table(@devices), title: I18n.t('devices.index.device', count: @total),
                orderBy: params["order_by"] || "devices.name"
            .pagination
              = render 'shared/pagination'
