.span12
  %h3
    = I18n.t('devices.token.token_header')

  %p
    %strong
      = I18n.t('devices.token.token')
    = @token.value

  %p
    = I18n.t('devices.token.warning')

  %p
    %strong
      = I18n.t('devices.token.last_time')

    %hr

    = link_to = I18n.t('devices.token.go_back'), edit_device_path(@device), class: 'btn'
