= form_for([@encounter, @culture_result], url: encounter_culture_result_path(@encounter, @culture_result), html: { autocomplete: 'off' }) do |f|
  = validation_errors @culture_result
  .row
    .col.pe-2
      = f.label :sample_collected_at, I18n.t('culture_results.form.sample_collected_at')
    .col
      = f.date_field :sample_collected_at
  .row
    .col.pe-2
      = f.label :media_used, I18n.t('culture_results.form.media_used')
    .col
      = f.collection_select :media_used, CultureResult.media_options, :first, :last
  .row
    .col.pe-2
      = f.label :sample_identifier_id
    .col
      = f.select :sample_identifier_id, SampleIdentifiers::Finder.available_samples(@encounter)
  .row
    .col.pe-2
      = f.label :test_result, I18n.t('culture_results.form.test_result')
    .col
      = f.radio_button :test_result, 'negative'
      %label{for: 'culture_result_test_result_negative'}
        = I18n.t('select.microscopy.test_result_options.negative')
      = f.radio_button :test_result, '1to9'
      %label{for: 'culture_result_test_result_1to9'}
        = I18n.t('select.microscopy.test_result_options.1to9')
      = f.radio_button :test_result, '1plus'
      %label{for: 'culture_result_test_result_1plus'}
        = I18n.t('select.microscopy.test_result_options.1plus')
      = f.radio_button :test_result, '2plus'
      %label{for: 'culture_result_test_result_2plus'}
        = I18n.t('select.microscopy.test_result_options.2plus')
      = f.radio_button :test_result, '3plus'
      %label{for: 'culture_result_test_result_3plus'}
        = I18n.t('select.microscopy.test_result_options.3plus')
      = f.radio_button :test_result, 'ntp'
      %label{for: 'culture_result_test_result_ntm'}
        = I18n.t('select.culture.test_result_options.ntm')
      = f.radio_button :test_result, 'contaminated'
      %label{for: 'culture_result_test_result_contaminated'}
        = I18n.t('select.culture.test_result_options.contaminated')
  .row
    .col.pe-2
      = f.label :examined_by, I18n.t('culture_results.form.examined_by')
    .col
      = f.text_field :examined_by
  .row
    .col.pe-2
      = f.label :result_at, I18n.t('culture_results.form.result_at')
    .col
      = f.date_field :result_at
  .row
    .col.pe-2
      = f.label :comment
    .col
      = f.text_area :comment, rows: 4, cols: 70

  .row.button-actions
    .col
      = f.submit I18n.t('views.save'), class: 'btn-primary'
      = link_to I18n.t('views.cancel'), encounter_path(@encounter), class: 'btn-link'
