#show-culture-result.testflow
  .container
    .row.labelHeader
      .col-6
        %h3
          = I18n.t('culture_results.show.header', patient_name: patient_display_name(@culture_result.patient.name))
      .col-6
        %ul
          %li
            = link_to("javascript:history.back();", class: 'button new') do
              = I18n.t('views.back')
    .order-details
      .panel
        .row
          .col
            .row
              .col-6
                %label
                  = CultureResult.human_attribute_name(:result_status)
              .col-6
                = I18n.t("select.patient_result.status_options.#{@culture_result.result_status}")
            - if @culture_result.any_feedback?
              .row
                .col-6
                  %label
                    = CultureResult.human_attribute_name(:feedback_message_id)
                .col-6
                  = FeedbackMessages::Finder.find_text_from_patient_result(@culture_result)
            .row
              .col-6
                %label
                  = CultureResult.human_attribute_name(:sample_collected_at)
              .col-6
                = I18n.l(@culture_result.sample_collected_at, format: :full_date)
            .row
              .col-6
                %label
                  = CultureResult.human_attribute_name(:media_used)
              .col-6
                = Extras::Select.find(CultureResult.media_options, @culture_result.media_used)
            .row
              .col-6
                %label
                  = CultureResult.human_attribute_name(:sample_identifier_id)
              .col-6
                = SampleIdentifiers::Finder.result_sample_id_with_deleted(@culture_result)
            .row
              .col-6
                %label
                  = MicroscopyResult.human_attribute_name(:test_result)
              .col-6
                = Extras::Select.find(CultureResult.test_result_options, @culture_result.test_result)
            .row
              .col-6
                %label
                  = CultureResult.human_attribute_name(:examined_by)
              .col-6
                = @culture_result.examined_by
            .row
              .col-6
                %label
                  = CultureResult.human_attribute_name(:result_at)
              .col-6
                = I18n.l(@culture_result.result_at, format: :full_date)
            .row
              .col-6
                %label
                  = CultureResult.human_attribute_name(:comment)
              .col-6
                = simple_format(@culture_result.comment)
            .row
              .col-6
                %label
                  = CultureResult.human_attribute_name(:comment)
              .col-6
                = simple_format(@culture_result.comment)
