= validation_errors @notification

= bettertabs :static do |tab|
  = tab.only_content_block do
    .row
      //.col.pe-2
      .col
        %div.tooltip
          = form.check_box :enabled
          = form.label :enabled, I18n.t('notifications.form.tooltip.enabled')
      .col
      //.col
    .row
      .col.pe-2
        %div.tooltip
          = form.label :name
          %div.tooltiptext_r
            = I18n.t('notifications.form.tooltip.name')
      .col
        = form.text_field :name, placeholder: I18n.t('notifications.form.placeholder.name')
    .row
      .col.pe-2
        %div.tooltip
          = form.label :description
          %div.tooltiptext_r
            = I18n.t('notifications.form.tooltip.description')
      .col
        = form.text_field :description, placeholder: I18n.t('notifications.form.placeholder.description')
    .row
      .col.pe-2
        %div.tooltip
          = form.label :site_ids
          %div.tooltiptext_r
            = I18n.t('notifications.form.tooltip.site_ids')
      .col
        = form.collection_select :site_ids, @sites, :id, :name, {}, { class: 'select2', multiple: true, placeholder: I18n.t('notifications.form.placeholder.site_ids') }

  = tab.static :test_results, I18n.t('notifications.tabs.test_results') do
    .row
      .col.pe-2
        %div.tooltip
          = form.label :patient_identifier
          %div.tooltiptext_r
            = I18n.t('notifications.form.tooltip.patient_identifier')
      .col
        = form.text_field :patient_identifier, placeholder: I18n.t('notifications.form.placeholder.patient_identifier')
      .col
        - if @notification.patient
          .notification-lookup-record
            %strong [#{link_to(@notification.patient.entity_id, patient_path(@notification.patient), target: '_blank')}]
            #{@notification.patient.name}
      .col
    .row
      .col.pe-2
        %div.tooltip
          = form.label :test_identifier
          %div.tooltiptext_r
            = I18n.t('notifications.form.tooltip.test_identifier')
      .col
        = form.text_field :test_identifier, placeholder: I18n.t('notifications.form.placeholder.test_identifier')
      .col
        - if @notification.encounter
          .notification-lookup-record
            %strong [#{link_to(@notification.encounter.batch_id, encounter_path(@notification.encounter), target: '_blank')}]
            #{I18n.t("select.patient_result.status_options.#{@notification.encounter.status}")}
      .col
    .row
      .col.pe-2
        %div.tooltip
          = form.label :sample_identifier
          %div.tooltiptext_r
            = I18n.t('notifications.form.tooltip.sample_identifier')
      .col
        = form.text_field :sample_identifier, placeholder: I18n.t('notifications.form.placeholder.sample_identifier')
    .row
      .col.pe-2
        %div.tooltip
          = form.label :notification_statuses_names
          %div.tooltiptext_r
            = I18n.t('notifications.form.tooltip.notification_statuses_names')
      .col
        = form.select :notification_statuses_names, Encounter.status_options.map(&:reverse), {}, { class: 'select2', multiple: true, placeholder: I18n.t('notifications.form.placeholder.notification_statuses_names') }
    .row
      .col.pe-2
        %div.tooltip
          = form.label :detection
          %div.tooltiptext_r
            = I18n.t('notifications.form.tooltip.detection')
      .col
        = form.collection_select :detection, @conditions, :name, :name, { prompt: I18n.t('notifications.form.placeholder.detection') }, { class: 'select2' }
    .row
      .col.pe-2
        %div.tooltip
          = form.label :detection_condition
          %div.tooltiptext_r
            = I18n.t('notifications.form.tooltip.detection_condition')
      .col
        = form.select :detection_condition, @condition_results, { prompt: I18n.t('notifications.form.placeholder.detection_condition') }, { class: 'select2' }
    .row
      .col.pe-2
        %div.tooltip
          = form.label :detection_quantitative_result
          %div.tooltiptext_r
            = I18n.t('notifications.form.tooltip.detection_quantitative_result')
      .col
        = form.text_field :detection_quantitative_result, placeholder: I18n.t('notifications.form.placeholder.detection_quantitative_result')

  -#
    = tab.static :device_errors, I18n.t('notifications.tabs.device_errors') do
      .row
        .col.pe-2
          %div.tooltip
            = form.label :device_ids
            %div.tooltiptext_r
              = I18n.t('notifications.form.tooltip.device_ids')
        .col
          = form.select :device_ids, @devices, {}, { class: 'select2', multiple: true, placeholder: I18n.t('notifications.form.placeholder.device_ids') }
      .row
        .col.pe-2
          %div.tooltip
            = form.label :device_error_code
            %div.tooltiptext_r
              = I18n.t('notifications.form.tooltip.device_error_code')
        .col
          = form.text_field :device_error_code, placeholder: I18n.t('notifications.form.placeholder.device_error_code')

      = tab.static :anomalies, I18n.t('notifications.tabs.anomalies') do
        .row
          .col.pe-2
            %div.tooltip
              = form.label :anomaly_type
              %div.tooltiptext_r
                = I18n.t('notifications.form.tooltip.anomaly_type')
          .col
            = form.select :anomaly_type, Notification::ANOMALY_TYPES, {include_blank: I18n.t('notifications.form.placeholder.anomaly_type')}, { class: 'select2' }

      = tab.static :utilisation_efficiency, I18n.t('notifications.tabs.utilisation_efficiency') do
        .row
          .col.pe-2
            %div.tooltip
              = form.label :utilisation_efficiency_sample_identifier
              %div.tooltiptext_r
                = I18n.t('notifications.form.tooltip.utilisation_efficiency_sample_identifier')
          .col
            -# Alias of sample_identifier
            = form.text_field :utilisation_efficiency_sample_identifier, placeholder: I18n.t('notifications.form.placeholder.utilisation_efficiency_sample_identifier')
        .row
          .col.pe-2
            %div.tooltip
              = form.label :utilisation_efficiency_threshold
              %div.tooltiptext_r
                = I18n.t('notifications.form.tooltip.utilisation_efficiency_threshold')
          .col
            = form.text_field :utilisation_efficiency_threshold, placeholder: I18n.t('notifications.form.placeholder.utilisation_efficiency_threshold')

  = tab.only_content_block do
    .row
      .col.pe-2
        %div.tooltip
          = form.label :role_ids
          %div.tooltiptext_r
            = I18n.t('notifications.form.tooltip.role_ids')
      .col
        = form.collection_select :role_ids, @roles, :id, :name, {}, { class: 'select2', multiple: true, placeholder: I18n.t('notifications.form.placeholder.role_ids') }
    .row
      .col.pe-2
        %div.tooltip
          = form.label :user_ids
          %div.tooltiptext_r
            = I18n.t('notifications.form.tooltip.user_ids')
      .col
        = form.collection_select :user_ids, @users, :id, :full_name, {}, { class: 'select2', multiple: true, placeholder: I18n.t('notifications.form.placeholder.user_ids') }
    %fieldset
      %legend= I18n.t('notifications.form.legends.ad-hoc_recipients')
      = form.fields_for :notification_recipients do |field|
        = field.hidden_field :_destroy
        = render :partial => 'notification_recipients/fieldset', :object => field
      = link_to('New recipient', '', :class => 'notification-recipient-fields__new btn btn-primary')
    .col
      .row
        .col.pe-2
        .col
          %div.tooltip
            = form.check_box :email, :data => {:'show-optional' => 'email-options'}
            = form.label :email, I18n.t('notifications.form.tooltip.email')
        .col
        .col
      -#
        .row.email-options{:class => @notification.email ? '' : 'nodisplay'}
          .col.pe-2
            %div.tooltip
              = form.label :email_limit
              %div.tooltiptext_r
                = I18n.t('notifications.form.tooltip.email_limit')
          .col
            = form.number_field :email_limit, min: 0, max: 1000, placeholder: I18n.t('notifications.form.placeholder.email_limit')
      .row.email-options{:class => @notification.email ? '' : 'nodisplay'}
        .col.pe-2
          %div.tooltip
            = form.label :email_message
            %div.tooltiptext_r
              = I18n.t('notifications.form.tooltip.email_message')
        .col
          = form.text_area :email_message, placeholder: I18n.t('notifications.form.placeholder.email_message'), rows: 4, cols: 35
    .col
      .row
        .col.pe-2
        .col
          %div.tooltip
            = form.check_box :sms, :data => {:'show-optional' => 'sms-options'}
            = form.label :sms, I18n.t('notifications.form.tooltip.sms')
        .col
        .col
      -#
        .row.sms-options{:class => @notification.sms ? '' : 'nodisplay'}
          .col.pe-2
            %div.tooltip
              = form.label :sms_limit
              %div.tooltiptext_r
                = I18n.t('notifications.form.tooltip.sms_limit')
          .col
            = form.number_field :sms_limit, min: 0, max: 1000, placeholder: I18n.t('notifications.form.placeholder.sms_limit')
      .row.sms-options{:class => @notification.sms ? '' : 'nodisplay'}
        .col.pe-2
          %div.tooltip
            = form.label :sms_message
            %div.tooltiptext_r
              = I18n.t('notifications.form.tooltip.sms_message')
        .col
          = form.text_area :sms_message, placeholder: I18n.t('notifications.form.placeholder.sms_message'), rows: 4, cols: 35
    .row
      .col.pe-2
        %div.tooltip
          = form.label :frequency
          %div.tooltiptext_r
            = I18n.t('notifications.form.tooltip.frequency')
      .col
        = form.select :frequency, Notification::FREQUENCY_TYPES, {prompt: true}, { class: 'select2' }
    .row.frequency-options{:class => @notification.frequency == 'aggregate' ? '' : 'nodisplay'}
      .col.pe-2
        %div.tooltip
          = form.label :frequency_value
          %div.tooltiptext_r
            = I18n.t('notifications.form.tooltip.frequency_value')
      .col
        = form.select :frequency_value, Notification::FREQUENCY_VALUES, {prompt: true}, { class: 'select2' }
