.row
  .col
    - if filters.empty?
      = empty_data title: I18n.t('filters.index.title_filters') do |c|
        - c.body do
          %h1
            = I18n.t('filters.index.filter_msg')
    - else
      = cdx_table title: I18n.t('filters.index.title_filters') do |t|
        - t.columns do
          %col{:width => "100%"}
        - t.thead do
          %tr
            %th
              = I18n.t('filters.index.col_name')
        - t.tbody do
          - filters.each do |filter|
            %tr
              %td= link_to filter.name, filter
