%p#notice= notice

%h3 #{@location.name}
- if @location.parent
  %p
    %b
      = I18n.t('locations.show.col_name')
    = @location.parent.name
%p
  %b
    = I18n.t('locations.show.admin')
  = "#{@location.type} (#{@location.admin_level})"


.actions
  = link_to I18n.t('views.back'), locations_path
